<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Dashbord.Properties.Settings.DSIConnectionString"
   connectionString="Data Source=192.168.0.108, 1433;Initial Catalog=DSI;Persist Security Info=True;User ID=sa;Password=XgLNhiP7Xf"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="ConnectionString" value="Data Source=192.168.0.108, 1433;Initial Catalog=DSI;Persist Security Info=True;User ID=sa;Password=XgLNhiP7Xf"/>
	</appSettings>
</configuration>

<!--"Data Source=DESKTOP-LDSHJ6N\SQLEXPRESS;Initial Catalog=DSI;Integrated Security=True"-->